/**
 * This file will be overwritten when the Bootstrap Framework source files
 * are compiled using the Less CSS pre-processor.
 */
.main-banner{width: 100%;height: auto;margin-bottom: 15px;}
.main-container{padding: 0;}
.navbar{margin: 0;border-radius: 0;z-index: 100;background: #343434;width: 100%;}
.navbar li a{padding:25px;}
.navbar-header a{padding: 25px;}
.navbar-header .logo{padding: 19px 0;margin: 0;}
.view-recent-blogs p{overflow: hidden;}
.table-responsive.terms-table{max-height: 100px;}
.not-front .navbar-fixed-bottom, .navbar-fixed-top{position: relative;display: block;}
.not-front header{top:0px !important;}
body.page-sky-dashboard .navbar{display: none;}
body.html.not-front.not-logged-in.no-sidebars.page-user header{display: none;}
body.html.not-front.not-logged-in.no-sidebars.page-user .page-header{display: none;}
body.html.not-front.not-logged-in.no-sidebars.page-user .tabs--primary.nav.nav-tabs{display: none;}
body.html.not-front.not-logged-in.no-sidebars.page-user{background-repeat:no-repeat;background-size:cover;background-image: url('../images/login.jpg');}
.login-block{background-color: #fff;margin: 0 auto;width: 360px !important;height: 260px !important;    margin-left: -180px;left: 50%;}
.region.region-banner .carousel-inner img{width: 100%; height: auto;}
.not-logged-in ul.menu.nav.navbar-nav li:nth-child(2){display: none;}
.form-group.d-flex.justify-content-between{text-align: center !important;}
a.text-small.forgot-password.text-black {text-decoration: none; text-align: center;margin: 0 auto;}
.text-block.text-center.my-3 a.text-black.text-small{text-decoration: none;}
.blog-wrapper .thumbnail .field-items img{height: 150px !important;width: auto !important;}
.blog-wrapper .user-picture img{width: 60px !important;border-radius: 20px;float: left;margin: 10px !important;}
.blog-wrapper .thumbnail{transition: box-shadow 0.3s ease-in-out;padding: 10px !important;height: 385px;box-shadow: 0px 0px 3px 0px #a9a9a9;background: #f9f9f9;}
.blog-wrapper .thumbnail:hover{ transition: box-shadow 0.3s ease-in-out;box-shadow: 12px 6px 14px 0px #a9a9a9;}
.blog-wrapper .thumbnail p{overflow: hidden !important;}
.field.field-name-field-blog-image.field-type-image.field-label-hidden{display: block!important;width: 100%!important;margin-top: 40px!important;}
/*.blog-wrapper .submitted span{z-index: 999;margin-top: 30px;display: block;}*/
.blog-wrapper .thumbnail h2 a{font-family: serif; text-decoration: none; color: #343434;}
.blog-wrapper .thumbnail h2{text-align:center;}
