/* The control-label */
#edit-user-terms .control-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
#edit-user-terms .control-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
#edit-user-terms .form-required {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    color: transparent; 
}

/* On mouse-over, add a grey background color */
#edit-user-terms .control-label:hover input ~ .form-required {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#edit-user-terms .control-label input:checked ~ .form-required {
    background-color: #2196F3;
    color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-required:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#edit-user-terms .control-label input:checked ~ .form-required:after {
    display: block;
}

/* Style the checkmark/indicator */
/*#edit-user-terms .control-label .form-required:after {
    left: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    border: solid white;
    -ms-transform: rotate(45deg);
    background: #fff;
}*/
#edit-user-terms .control-label .form-required:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}