.dash-menu li a{background:#263238 !important; }
.region.region-header{width: 100%;}
#block-sky-dashboard-user-menu{float: right;}
.dash.dropdown-menu{background:#343a40;right: 0;top: 45px;}
.region.region-header button.btn.dropdown-toggle{float: right;margin-right: 25px;}
ul.dash.dropdown-menu.show{width: 220px;left: 80px;}
.dash.dropdown-menu .drop-btn.btn-danger{padding: 5px 25px;}
.dash.dropdown-menu .drop-btn{border-radius: 5px;margin: 5px;text-decoration: none;}
.dash.dropdown-menu .drop-btn.btn-danger:hover{width:initial !important;color: #dc3545;border:1px solid #dc3545;}
.dash.dropdown-menu .drop-btn.btn-success:hover{width:initial !important;color: #0E9C57;border:1px solid #0E9C57;}
.dash-menu {padding:0 !important;}
.dash-menu ul.tb-megamenu-nav.nav.level-0.items-2 li{width: 100%;}
ul.tb-megamenu-subnav.mega-nav.level-1.items-3 li a,ul.tb-megamenu-subnav.mega-nav.level-1.items-2 li a{padding-left: 35px !important;padding: 15px;border: 0px !important;background: #263238;}
ul.tb-megamenu-subnav.mega-nav.level-1.items-3 li a:hover,ul.tb-megamenu-subnav.mega-nav.level-1.items-2 li a:hover{background: #222 !important;}
.dash-menu li:hover{background: #222 !important;}
.tb-megamenu-column-inner.mega-inner.clearfix,.tb-megamenu-column-inner.mega-inner.clearfix{background: #263238;}
.menu-inner{display: block !important;width: 100% !important;z-index: 0 !important;position: unset !important;}
.tb-megamenu-column-inner.mega-inner.clearfix{padding: 10px 0 !important;}
ul.tb-megamenu-nav.nav.level-0.items-6 li{width: 100%;}
ul.tb-megamenu-nav.nav.level-0.items-6 li:hover{background: #222 !important;}
.tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child{width: 100%;}
.dash-menu {max-width: 270px !important; height: calc(100%);background: #263238;background:#263238 !important;}
.tb-megamenu.style-black .nav > li > a:hover{background-color: #222 !important;}
li.tb-megamenu-item.level-1.mega.no-letter a{color: #263238;}
li.tb-megamenu-item.level-1.mega.no-letter:hover,li.tb-megamenu-item.level-1.mega.no-letter a:hover{background-color: #263238 !important;}
li.tb-megamenu-item.level-1.mega.no-letter svg{color: #fff !important;}
li.tb-megamenu-item.level-1.mega.dropdown,
li.tb-megamenu-item.level-1.mega,
li.tb-megamenu-item.level-1.mega.mega-align-left,
li.tb-megamenu-item.level-1.mega.active.active-trail,
li.tb-megamenu-item.level-1.mega.active.active-trail{width: 100% !important;}
.wrapper-all,body,html{height: 100% !important;}
li.tb-megamenu-item.level-1.no-letter.tb-1 a{color: transparent !important;}
li.tb-megamenu-item.level-1.no-letter.tb-1 i.fa.fa-bars,
li.tb-megamenu-item.level-2.mega i.fa.fa-desktop{color: #fff !important;}
.dash-menu ul li a{color: #fff !important;}
.dash-menu ul li a:hover{color: #bbb !important;}
.dash-menu ul li.no-letter a{color: #fff !important;}
.dash-menu ul li.no-letter a:hover{color: #bbb !important;}
.wrapper-content.row{height: calc(100% - 100px);margin: 0;}

